.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #58dad3;
    padding: 7px;
    border-bottom: 3px solid rgb(224, 113, 113);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #533939;
  }